body, html {
  margin: 0;
  font-family: 'karla',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  box-sizing: border-box;
  background-color: #011638;
}

@font-face {
  font-family: 'karla';
  src: url('./fonts/Karla-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'karla';
  src: url('./fonts/Karla-Regular.ttf');
  font-weight: normal;
}