#net {
    background-color: #011638;
}

.net-container {
    top: 0;
    left: 0;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.net-container:hover {
    cursor: grab;
}